@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f6f6f7;
  --txt-primary: #222222;
  --txt-secondary: #888888;
  --txt-danger: #c90000;
  --light-gray: #cccccc;
  --dark-gray: #222222;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inside-container {
  max-width: 800px;
}

.txt-primary {
  color: var(--txt-primary);
}

.txt-secondary {
  color: var(--txt-secondary);
}

.txt-danger {
  color: var(--txt-danger);
}
